/*
 * Author: Enrico Gaffo
 *
 * Configuration file to run ccp2_nf
 */ 

process.executor = 'slurm'

process {
    
    withName:runCCP2 {
        container = 'egaffo/circompara2:v0.1.2.1'
        cpus = 16
        memory = '96 GB'
        containerOptions = '-e PATH=$PATH:/circompara2 --entrypoint=""'
    }
}

docker {
    enabled = true
    fixOwnership = true
    runOptions = '-u $(id -u):$(id -g)'
}
